{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "prettier",
    "babel",
    "no-only-tests",
    "jest"
  ],
  "ignorePatterns": [
    "node_modules",
    "bundle.js",
    "**/dist/",
    "**/es/"
  ],
  "settings":{
    "react":{
      "version": "detect"
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "consistent-return": 0,
    "max-len": [1, 110, 4],
    "max-params": ["error", 6],
    "object-curly-spacing": 0,
    "babel/object-curly-spacing": 2,
    "no-only-tests/no-only-tests": 2,
    "jest/require-top-level-describe":"error",
    "react/prop-types": "off",
    "prettier/prettier": "warn"
  }
}
