{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "@uber/eslint-config",
    "@uber/eslint-config-es6",
    "@uber/eslint-config-jsx",
    "prettier",
    "prettier/react"
  ],
  "rules": {},
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel",
    "prettier",
    "no-only-tests"
  ]
}
