{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "uber-es2015",
    "uber-jsx"
  ],
  "rules": {
    "consistent-return": 0,
    "max-params": ["error", 6]
  },
  "plugins": [
    "react"
  ]
}
