@import url(https://fonts.googleapis.com/css?family=Sintony:400,700);
.rv-treemap {
  font-size: 12px;
  position: relative; }

.rv-treemap__leaf {
  position: absolute;
  overflow: hidden; }

.rv-treemap__leaf__content {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis; }

.rv-table {
  overflow: hidden; }

.rv-table__header {
  position: relative;
  z-index: 100; }

.rv-table__header__cell {
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  font-weight: bold;
  overflow: hidden; }

.rv-table__header__cell__content {
  margin: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rv-table__data {
  overflow: auto; }

.rv-table__data-inner {
  position: relative; }

.rv-table__data__cell {
  position: absolute;
  border: 1px solid #ccc;
  overflow: hidden; }

.rv-table__data__cell__content {
  margin: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rv-xy-plot {
  color: #c3c3c3;
  position: relative; }

.rv-xy-plot__inner {
  display: block; }

.rv-xy-plot__axis__line {
  stroke-width: 2px;
  stroke: #e6e6e9;
  fill: none; }

.rv-xy-plot__axis__tick__line {
  stroke: #e6e6e9; }

.rv-xy-plot__axis__tick__text {
  fill: #6B6B76;
  font-size: 11px; }

.rv-xy-plot__axis__title text {
  font-size: 11px;
  fill: #6B6B76; }

.rv-xy-plot__grid-lines__line {
  stroke: #e6e6e9; }

.rv-xy-plot__series--line {
  fill: none;
  stroke: #000;
  stroke-width: 2px; }

.rv-crosshair {
  position: absolute;
  font-size: 11px;
  pointer-events: none; }

.rv-crosshair__line {
  background: #47d3d9;
  width: 1px; }

.rv-crosshair__inner {
  position: absolute;
  text-align: left;
  top: 0; }

.rv-crosshair__inner__content {
  border-radius: 4px;
  background: #3A3A48;
  color: #fff;
  font-size: 12px;
  padding: 7px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.rv-crosshair__inner--left {
  right: 4px; }

.rv-crosshair__inner--right {
  left: 4px; }

.rv-crosshair__title {
  font-weight: bold;
  white-space: nowrap; }

.rv-crosshair__item {
  white-space: nowrap; }

.rv-hint {
  position: absolute;
  pointer-events: none; }

.rv-hint__content {
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 12px;
  background: #3A3A48;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  white-space: nowrap; }

.rv-radial-chart__svg {
  display: block; }

.rv-radial-chart__series--pie > path {
  stroke: #fff;
  stroke-width: 1px; }

body {
  margin: 0;
  padding: 0;
  font-family: Sintony, Helvetica, sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

h1 {
  font-size: 36px;
  margin: 20px 0; }

h2 {
  font-size: 24px;
  margin: 15px 0; }

header {
  background: #333;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 40px; }

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px auto;
  padding: 0 20px;
  min-width: 650px;
  max-width: 1200px; }
  article h1, article h2 {
    flex: 1 100%; }
  article section {
    width: 400px;
    flex-basis: 400px;
    flex-grow: 1; }

.click-me {
  border: 0;
  background: #EF5D28;
  color: #fff;
  cursor: pointer;
  font-family: Sintony, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
  padding: 11px 20px;
  text-transform: uppercase;
  animation: shake 5s 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0); }
  .click-me:hover {
    background: #FF9833; }

@keyframes shake {
  1%, 9% {
    transform: translate3d(-1px, 0, 0); }
  2%, 8% {
    transform: translate3d(2px, 0, 0); }
  3%, 5%, 7% {
    transform: translate3d(-4px, 0, 0); }
  4%, 6% {
    transform: translate3d(4px, 0, 0); } }

.example-with-click-me {
  text-align: center; }
  .example-with-click-me:hover .click-me {
    animation: none; }

.custom-table-cell {
  padding: 0 4px; }

.custom-hint {
  background: #F9E7BB;
  border-radius: 3px;
  border: 1px solid #EDAF00;
  padding: 10px;
  color: #333;
  font-size: 10px;
  position: relative;
  margin: 12px 0 0 -10px; }
  .custom-hint:after {
    border-radius: 5px;
    border: 2px solid #EDAF00;
    background: #fff;
    display: block;
    content: ' ';
    height: 6px;
    width: 6px;
    top: -17px;
    left: 5px;
    position: absolute; }
