.rv-treemap {
  font-size: 12px;
  position: relative; }

.rv-treemap__leaf {
  position: absolute;
  overflow: hidden; }

.rv-treemap__leaf__content {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis; }

.rv-table {
  overflow: hidden; }

.rv-table__header {
  position: relative;
  z-index: 100; }

.rv-table__header__cell {
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  font-weight: bold;
  overflow: hidden; }

.rv-table__header__cell__content {
  margin: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rv-table__data {
  overflow: auto; }

.rv-table__data-inner {
  position: relative; }

.rv-table__data__cell {
  position: absolute;
  border: 1px solid #ccc;
  overflow: hidden; }

.rv-table__data__cell__content {
  margin: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rv-xy-plot {
  color: #c3c3c3;
  position: relative; }

.rv-xy-plot__inner {
  display: block; }

.rv-xy-plot__axis path {
  stroke-width: 2px;
  stroke: #e6e6e9;
  fill: none; }

.rv-xy-plot__axis .tick {
  fill: #6B6B76;
  font-size: 11px; }

.rv-xy-plot__axis__ticks .tick {
  stroke: #e6e6e9; }

.rv-xy-plot__axis__title text {
  font-size: 11px;
  fill: #6B6B76; }

.rv-xy-plot__grid-lines line {
  stroke: #e6e6e9; }

.rv-xy-plot__grid-lines .domain {
  display: none; }

.rv-xy-plot__series--line {
  fill: none;
  stroke: #000;
  stroke-width: 2px; }

.rv-crosshair {
  position: absolute;
  font-size: 11px;
  pointer-events: none; }

.rv-crosshair__line {
  background: #47d3d9;
  width: 1px; }

.rv-crosshair__inner {
  position: absolute;
  text-align: left;
  top: 0; }

.rv-crosshair__inner__content {
  border-radius: 4px;
  background: #3A3A48;
  color: #fff;
  font-size: 12px;
  padding: 7px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.rv-crosshair__inner--left {
  right: 4px; }

.rv-crosshair__inner--right {
  left: 4px; }

.rv-crosshair__title {
  font-weight: bold;
  white-space: nowrap; }

.rv-crosshair__item {
  white-space: nowrap; }

.rv-hint {
  position: absolute;
  pointer-events: none; }

.rv-hint__content {
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 12px;
  background: #3A3A48;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  white-space: nowrap; }

.rv-radial-chart__svg {
  display: block; }

.rv-radial-chart__series--pie > path {
  stroke: #fff;
  stroke-width: 1px; }
