@font-face {
  font-family: 'UberMove';
  font-display: swap;
  font-weight: light;
  src: url('./UberMove-Light.otf') format('opentype');
}

@font-face {
  font-family: 'UberMove';
  font-display: swap;
  font-weight: medium;
  src: url('./UberMove-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'UberMove';
  font-display: swap;
  font-weight: regular;
  src: url('./UberMove-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'UberMove';
  font-display: swap;
  font-weight: bold;
  src: url('./UberMove-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'UberMoveText';
  font-display: swap;
  font-weight: light;
  src: url('./UberMoveText-Light.otf') format('opentype');
}

@font-face {
  font-family: 'UberMoveText';
  font-display: swap;
  font-weight: medium;
  src: url('./UberMoveText-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'UberMoveText';
  font-display: swap;
  font-weight: regular;
  src: url('./UberMoveText-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'UberMoveText';
  font-display: swap;
  font-weight: bold;
  src: url('./UberMoveText-Bold.otf') format('opentype');
}
