.highlighted-stream {
  stroke: #fff !important;
  stroke-width: 5px;
}

.streamgraph .rv-xy-plot__series--line {
  cursor: pointer;
}

.markdown-example .streamgraph-example {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.streamgraph-example {
  min-width: 400px;
  width: 100%;
}
