@import "../../src/main.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Sintony, Helvetica, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  font-size: 36px;
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  margin: 15px 0;
}

main {
  padding: 40px 0;
}

header {
  background: #f0f0f0;
  border-bottom: #e1e1e1 1px solid;
  line-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-contents {
  min-width: 650px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.header-logo {
  float: left;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

nav {
  display: inline-block;
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  float: right;
  padding: 0;
  font-weight: 400;
  li {
    padding: 0;
    display: inline-block;
  }
  a {
    color: #494949;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      background: #E5E5E4;
      color: #1C1B1B;
    }
  }
}

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 30px 20px 0;
  min-width: 650px;
  max-width: 1200px;

  h1, h2 {
    flex: 1 100%;
  }

  section {
    width: 400px;
    flex-basis: 400px;
    flex-grow: 1;
    margin: 0 0 40px;
  }
}

.click-me {
  border: 0;
  background: #EF5D28;
  color: #fff;
  cursor: pointer;
  font-family: Sintony, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
  padding: 11px 20px;
  text-transform: uppercase;
  &:hover {
    background: #FF9833;
  }
  animation: shake 5s 1s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  1%, 9% {
    transform: translate3d(-1px, 0, 0);
  }

  2%, 8% {
    transform: translate3d(2px, 0, 0);
  }

  3%, 5%, 7% {
    transform: translate3d(-4px, 0, 0);
  }

  4%, 6% {
    transform: translate3d(4px, 0, 0);
  }
}

.example-with-click-me {
  position: relative;
  text-align: center;
  &:hover {
    .click-me {
      animation: none;
    }
  }

  .chart {
    margin-right: 200px;
  }

  .legend {
    position: absolute;
    text-align: left;
    right: 0;
  }
}

.custom-table-cell {
  padding: 0 4px;
}

.custom-hint {
  background: #F9E7BB;
  border-radius: 3px;
  border: 1px solid #EDAF00;
  padding: 10px;
  color: #333;
  font-size: 10px;
  position: relative;
  margin: 12px 0 0 -10px;
  &:after {
    border-radius: 5px;
    border: 2px solid #EDAF00;
    background: #fff;
    display: block;
    content: ' ';
    height: 6px;
    width: 6px;
    top: -17px;
    left: 5px;
    position: absolute;
  }
}

.complex-hint {
  margin-top: 40px;
  .rv-hint {
    /* must be positioned in a parent with relative positioning */
    position: absolute;
    width: 0;
    height: 100%;

    $hint-color: black;
    $margin-left: 30px;
    $margin-right: 10px;
    $margin-top: 10px;
    $margin-bottom: 25px;

    & .hint--text-container {
      position: absolute;
      /*
       * set to 0,0 so that its content (including children)
       * can overflow out in vertical and horizontal
       */
      width: 0;
      height: 0;

      /*
       * use flex to place its children (centered) and aligned (bottom).
       * As its height is 0, align-items flex-end paints its items from cross-axis
       * up.  flex-start, its items would paint from cross-axis down.
       */
      display: flex;
      justify-content: center;

      &.rightEdge-top {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
      &.left-topEdge {
        flex-direction: row;
        align-items: flex-end;
      }
      &.left-bottomEdge {
        flex-direction: row;
        align-items: flex-start;
      }
      &.leftEdge-top {
        flex-direction: column;
        align-items: flex-end;
      }

      & .hint--text {
        /* text content uses -micro padding */
        padding: 4px;
        border: 2px solid $hint-color;
        color: $hint-color;
        white-space: nowrap;
      }
    }

    & .hint--pole {
      position: absolute;

      &.rightEdge-top {
        top: -1px;
        left: -$margin-right;
        border-top: 2px solid $hint-color;
        width: $margin-right;
        height: 0;
      }
      &.left-topEdge {
        border-left: 2px solid $hint-color;
        left: -1px;
        height: $margin-top;
        width: 0;
        top: 0;
      }
      &.left-bottomEdge {
        border-left: 2px solid $hint-color;
        left: -1px;
        height: $margin-bottom;
        width: 0;
        top: -$margin-bottom;
      }
      &.leftEdge-top {
        top: -1px;
        border-top: 2px solid $hint-color;
        width: $margin-left;
        height: 0;
      }
    }
  }

  .rv-hint--horizontalAlign-rightEdge.rv-hint--verticalAlign-top {
    width: 0;
    height: 0;
  }
  .rv-hint--horizontalAlign-left.rv-hint--verticalAlign-topEdge {
    width: 0;
    height: 100%;
  }
  .rv-hint--horizontalAlign-left.rv-hint--verticalAlign-bottomEdge {
    width: 0;
    height: 0;
  }
  .rv-hint--horizontalAlign-leftEdge.rv-hint--verticalAlign-top {
    width: 100%;
    height: 0;
  }
}
