.candlestick-example {
  width: 100%; }
  .candlestick-example .chart {
    width: 100%; }
  .candlestick-example .dashed-example-line {
    stroke-dasharray: 2, 2; }
.candlestick-example {
  width: 100%; }
  .candlestick-example .chart {
    width: 100%; }
  .candlestick-example .dashed-example-line {
    stroke-dasharray: 2, 2; }
.responsive-vis-example {
  display: flex;
  flex-direction: column; }
  .responsive-vis-example .responsive-controls {
    display: flex;
    flex-direction: column;
    max-width: 400px; }
  .responsive-vis-example .chart-type-selector {
    display: flex;
    justify-content: space-around; }
    .responsive-vis-example .chart-type-selector * {
      cursor: pointer; }
  .responsive-vis-example .selected-chart-type {
    font-weight: 600;
    text-decoration: underline; }
  .responsive-vis-example .responsive-vis {
    display: flex;
    justify-content: center; }
  .responsive-vis-example .responsive-bar-chart {
    display: flex;
    justify-content: center; }
    .responsive-vis-example .responsive-bar-chart .rv-hint {
      color: #000; }
  .responsive-vis-example .points-per-pixel-label {
    font-size: 32px;
    white-space: nowrap; }
  .responsive-vis-example .features-label {
    font-size: 24px;
    white-space: nowrap; }
  .responsive-vis-example .controls-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%; }
.highlighted-stream {
  stroke: #fff !important;
  stroke-width: 5px; }

.streamgraph .rv-xy-plot__series--line {
  cursor: pointer; }

.markdown-example .streamgraph-example {
  display: flex;
  flex-direction: column;
  width: 100%; }
.react-vis-magic-css-import-rule {
  display: inherit; }

.rv-treemap {
  font-size: 12px;
  position: relative; }

.rv-treemap__leaf {
  overflow: hidden;
  position: absolute; }

.rv-treemap__leaf--circle {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center; }

.rv-treemap__leaf__content {
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis; }

.rv-xy-plot {
  color: #c3c3c3;
  position: relative; }
  .rv-xy-plot canvas {
    pointer-events: none; }
  .rv-xy-plot .rv-xy-canvas {
    pointer-events: none;
    position: absolute; }

.rv-xy-plot__inner {
  display: block; }

.rv-xy-plot__axis__line {
  fill: none;
  stroke-width: 2px;
  stroke: #e6e6e9; }

.rv-xy-plot__axis__tick__line {
  stroke: #e6e6e9; }

.rv-xy-plot__axis__tick__text {
  fill: #6b6b76;
  font-size: 11px; }

.rv-xy-plot__axis__title text {
  fill: #6b6b76;
  font-size: 11px; }

.rv-xy-plot__grid-lines__line {
  stroke: #e6e6e9; }

.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9; }

.rv-xy-plot__series,
.rv-xy-plot__series path {
  pointer-events: all; }

.rv-xy-plot__series--line {
  fill: none;
  stroke: #000;
  stroke-width: 2px; }

.rv-crosshair {
  position: absolute;
  font-size: 11px;
  pointer-events: none; }

.rv-crosshair__line {
  background: #47d3d9;
  width: 1px; }

.rv-crosshair__inner {
  position: absolute;
  text-align: left;
  top: 0; }

.rv-crosshair__inner__content {
  border-radius: 4px;
  background: #3a3a48;
  color: #fff;
  font-size: 12px;
  padding: 7px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.rv-crosshair__inner--left {
  right: 4px; }

.rv-crosshair__inner--right {
  left: 4px; }

.rv-crosshair__title {
  font-weight: bold;
  white-space: nowrap; }

.rv-crosshair__item {
  white-space: nowrap; }

.rv-hint {
  position: absolute;
  pointer-events: none; }

.rv-hint__content {
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 12px;
  background: #3a3a48;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  white-space: nowrap; }

.rv-discrete-color-legend {
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 12px; }
  .rv-discrete-color-legend.horizontal {
    white-space: nowrap; }

.rv-discrete-color-legend-item {
  color: #3a3a48;
  border-radius: 1px;
  padding: 9px 10px; }
  .rv-discrete-color-legend-item.horizontal {
    display: inline-block; }
    .rv-discrete-color-legend-item.horizontal .rv-discrete-color-legend-item__title {
      margin-left: 0;
      display: block; }

.rv-discrete-color-legend-item__color {
  background: #dcdcdc;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 14px; }

.rv-discrete-color-legend-item__title {
  margin-left: 10px; }

.rv-discrete-color-legend-item.disabled {
  color: #b8b8b8; }

.rv-discrete-color-legend-item.clickable {
  cursor: pointer; }
  .rv-discrete-color-legend-item.clickable:hover {
    background: #f9f9f9; }

.rv-search-wrapper {
  display: flex;
  flex-direction: column; }

.rv-search-wrapper__form {
  flex: 0; }

.rv-search-wrapper__form__input {
  width: 100%;
  color: #a6a6a5;
  border: 1px solid #e5e5e4;
  padding: 7px 10px;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 0 9px;
  outline: 0; }

.rv-search-wrapper__contents {
  flex: 1;
  overflow: auto; }

.rv-continuous-color-legend {
  font-size: 12px; }
  .rv-continuous-color-legend .rv-gradient {
    height: 4px;
    border-radius: 2px;
    margin-bottom: 5px; }

.rv-continuous-size-legend {
  font-size: 12px; }
  .rv-continuous-size-legend .rv-bubbles {
    text-align: justify;
    overflow: hidden;
    margin-bottom: 5px;
    width: 100%; }
  .rv-continuous-size-legend .rv-bubble {
    background: #d8d9dc;
    display: inline-block;
    vertical-align: bottom; }
  .rv-continuous-size-legend .rv-spacer {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 100%; }

.rv-legend-titles {
  height: 16px;
  position: relative; }

.rv-legend-titles__left,
.rv-legend-titles__right,
.rv-legend-titles__center {
  position: absolute;
  white-space: nowrap;
  overflow: hidden; }

.rv-legend-titles__center {
  display: block;
  text-align: center;
  width: 100%; }

.rv-legend-titles__right {
  right: 0; }

.rv-radial-chart .rv-xy-plot__series--label {
  pointer-events: none; }

body {
  font-family: Sintony, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal; }

h1 {
  font-size: 36px;
  margin: 20px 0; }

h2 {
  font-size: 24px;
  margin: 15px 0; }

main {
  padding: 40px 0; }

header {
  background: #f0f0f0;
  line-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.flex {
  display: flex; }

.docs-link {
  font-weight: 500;
  font-size: 11px;
  margin-right: 5px;
  text-transform: uppercase;
  border-left: 1px solid #c0c0c0;
  padding-left: 5px;
  line-height: 1; }

.docs-link:first-child {
  border-left: 0px;
  padding-left: 0px; }

.docs-comment {
  display: flex;
  max-width: 300px; }

.header-contents {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px; }

.header-logo {
  color: #000;
  float: left;
  font-size: 20px;
  text-decoration: none; }

.background-overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1; }

.dropdown-button {
  cursor: pointer;
  z-index: 10; }

.dropdown-wrapper {
  display: flex;
  position: relative; }
  .dropdown-wrapper .dropdown-inner-wrapper {
    background: #fff;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    height: auto;
    list-style: none;
    padding: 10px;
    position: absolute;
    right: -5px;
    top: 25px;
    width: 150px;
    z-index: 10; }
  .dropdown-wrapper a {
    display: flex;
    height: auto;
    line-height: 15px;
    text-decoration: none; }
  .dropdown-wrapper li {
    display: flex;
    height: 100%; }
  .dropdown-wrapper .subsection-label {
    font-weight: 600;
    line-height: 15px; }

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 650px;
  padding: 30px 20px 0; }
  article h1,
  article h2 {
    flex: 1 100%; }
    article h1 small,
    article h2 small {
      color: #6b6b76;
      font-size: 50%; }
  article section {
    flex-basis: 400px;
    flex-grow: 1;
    margin: 0 0 40px; }
  article .section-title {
    margin-bottom: 5px; }
  article .section-header {
    margin-bottom: 1em; }

.click-me {
  border: 0;
  background: #ef5d28;
  color: #fff;
  cursor: pointer;
  font-family: Sintony, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
  padding: 11px 20px;
  text-transform: uppercase;
  animation: shake 5s 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0); }
  .click-me:hover {
    background: #ff9833; }

@keyframes shake {
  1%,
  9% {
    transform: translate3d(-1px, 0, 0); }
  2%,
  8% {
    transform: translate3d(2px, 0, 0); }
  3%,
  5%,
  7% {
    transform: translate3d(-4px, 0, 0); }
  4%,
  6% {
    transform: translate3d(4px, 0, 0); } }

.example-with-click-me {
  position: relative;
  text-align: center;
  width: 100%; }
  .example-with-click-me:hover .click-me {
    animation: none; }
  .example-with-click-me .chart {
    margin-right: 200px; }
    .example-with-click-me .chart .rv-xy-plot__axis__tick__line {
      stroke: #6b6b76; }
  .example-with-click-me .legend {
    position: absolute;
    text-align: left;
    right: 0; }

.custom-hint {
  background: #f9e7bb;
  border-radius: 3px;
  border: 1px solid #edaf00;
  padding: 10px;
  color: #333;
  font-size: 10px;
  position: relative;
  margin: 12px 0 0 -10px; }
  .custom-hint::after {
    border-radius: 5px;
    border: 2px solid #edaf00;
    background: #fff;
    display: block;
    content: ' ';
    height: 6px;
    width: 6px;
    top: -17px;
    left: 5px;
    position: absolute; }

.complex-hint {
  margin-top: 40px; }
  .complex-hint .rv-hint {
    /* must be positioned in a parent with relative positioning */
    position: absolute;
    width: 0;
    height: 100%; }
    .complex-hint .rv-hint .hint--text-container {
      position: absolute;
      /*
       * set to 0,0 so that its content (including children)
       * can overflow out in vertical and horizontal
       */
      width: 0;
      height: 0;
      /*
       * use flex to place its children (centered) and aligned (bottom).
       * As its height is 0, align-items flex-end paints its items from cross-axis
       * up.  flex-start, its items would paint from cross-axis down.
       */
      display: flex;
      justify-content: center; }
      .complex-hint .rv-hint .hint--text-container.rightEdge-top {
        flex-direction: column-reverse;
        align-items: flex-start; }
      .complex-hint .rv-hint .hint--text-container.left-topEdge {
        flex-direction: row;
        align-items: flex-end; }
      .complex-hint .rv-hint .hint--text-container.left-bottomEdge {
        flex-direction: row;
        align-items: flex-start; }
      .complex-hint .rv-hint .hint--text-container.leftEdge-top {
        flex-direction: column;
        align-items: flex-end; }
      .complex-hint .rv-hint .hint--text-container .hint--text {
        /* text content uses -micro padding */
        padding: 4px;
        border: 2px solid black;
        color: black;
        white-space: nowrap; }
    .complex-hint .rv-hint .hint--pole {
      position: absolute; }
      .complex-hint .rv-hint .hint--pole.rightEdge-top {
        top: -1px;
        left: -10px;
        border-top: 2px solid black;
        width: 10px;
        height: 0; }
      .complex-hint .rv-hint .hint--pole.left-topEdge {
        border-left: 2px solid black;
        left: -1px;
        height: 10px;
        width: 0;
        top: 0; }
      .complex-hint .rv-hint .hint--pole.left-bottomEdge {
        border-left: 2px solid black;
        left: -1px;
        height: 25px;
        width: 0;
        top: -25px; }
      .complex-hint .rv-hint .hint--pole.leftEdge-top {
        top: -1px;
        border-top: 2px solid black;
        width: 30px;
        height: 0; }
  .complex-hint .rv-hint--horizontalAlign-rightEdge.rv-hint--verticalAlign-top {
    width: 0;
    height: 0; }
  .complex-hint .rv-hint--horizontalAlign-left.rv-hint--verticalAlign-topEdge {
    width: 0;
    height: 100%; }
  .complex-hint .rv-hint--horizontalAlign-left.rv-hint--verticalAlign-bottomEdge {
    width: 0;
    height: 0; }
  .complex-hint .rv-hint--horizontalAlign-leftEdge.rv-hint--verticalAlign-top {
    width: 100%;
    height: 0; }

.centered-and-flexed {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px; }
  .centered-and-flexed .centered-and-flexed-controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 75%; }

.dynamic-treemap-example .rv-treemap__leaf--circle {
  border: thin solid white; }

.clustered-stacked-bar-chart-example .rv-discrete-color-legend {
  left: 40px;
  position: absolute;
  top: 0; }

.basic-sunburst-example-path-name {
  height: 20px; }

.showcase-button {
  background: #fff;
  border: thin solid #333;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  padding: 5px 10px; }

.donut-chart-example .rv-radial-chart__series--pie__slice:hover {
  stroke: #000 !important;
  stroke-width: 2px !important; }

.parallel-coordinates-example .rv-xy-plot__series--line {
  stroke: #12939A !important; }
  .parallel-coordinates-example .rv-xy-plot__series--line:hover {
    stroke: #F15C17 !important; }

.canvas-example-controls {
  display: flex; }

.canvas-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%; }

.highlight-container {
  cursor: crosshair; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.history-example {
  width: 100%; }
