$primary: #00ADE6;
$secondary: #05E3D5;
$black: #041725;
$black-20: #213746;
$black-40: #5A666D;
$white: #EDEDED;
$white-40: #8D9BA3;

$footer-height: 13rem;
$topbar-height: 4rem;
$topbar-maxheight: 12rem;
$toc-width: 17rem;
$mobile: 576px;
