$primary: #00ade6;
$secondary: #05e3d5;
$black: #041725;
$black-20: #213746;
$black-40: #5a666d;
$black-60: #4a4a4a;
$pure-white: #fff;
$white: #ededed;
$white-40: #8d9ba3;
$topbar-height: 64px;

@import 'stylesheets/markdown';
@import 'stylesheets/table-of-contents';
@import 'stylesheets/icons';

* { box-sizing: border-box; margin: 0; padding: 0; }

html,
body,
#index,
.app {
  height: 100%;
}

body {
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 12px;
  line-height: 1.833;
  overflow-y: auto;
}

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: $black;

  &:hover {
    background: $white-40;
    cursor: pointer;
  }
}

::-webkit-scrollbar-track {
  background: 0;
}


a {
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-decoration: none;
}

a,
a:visited {
  color: $primary;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100% - $topbar-height);
  overflow-x: auto;
  position: absolute;
  top: $topbar-height;
  width: 100%;
}

.f {
  display: flex;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.fg {
  flex-grow: 1;
}

header {
  white-space: nowrap;
  position: relative;
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms;
  max-height: $topbar-height;
  line-height: $topbar-height;
  overflow: hidden;

  .bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $black;
  }
  .logo {
    display: none;
    color: $white !important;
    float: left;
    font-weight: 700;
    letter-spacing: 4px;
    margin-left: 24px;
    text-transform: uppercase;
    vertical-align: top;
  }
  .menu-toggle {
    font-size: 24px;
    color: $white;
    float: right;
    cursor: pointer;
    display: none;
    vertical-align: top;
  }

  .links {
    float: right;
    vertical-align: top;
    margin-right: 80px;
    a:hover {
      border-color: $white-40;
    }
  }

  .github-link {
    position: absolute;
    right: 24px;
    top: 5px;
  }

  .links, .github-link {
    a {
      line-height: 58px;
      color: $white-40;
      text-transform: uppercase;
      margin-left: 40px;
      border-style: solid;
      border-width: 3px 0 0 0;
      border-color: transparent;
      margin-top: -5px;
    }
    a:hover {
      color: $white;
    }
    a.active {
      color: $white;
      border-color: $primary;
      border-image-slice: 2;
    }
  }
}

.site-links {
  position: fixed;
  padding-left: 24px;
  padding-right: 40px;
  transition: all 300ms;
  max-height: $topbar-height;
  overflow: hidden;

  &:after {
    content: '▾';
    display: block;
    position: absolute;
    top: 0;
    right: 12px;
    color: $black-40;
  }

  .site-link {
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 100%;

    a {
      width: 100%;
      color: $white;
    }

    &:nth-child(n+2) {
      opacity: 0.5;
    }
    &:hover {
      opacity: 1 !important;
    }
  }

  &:hover {
    background: $black;
    max-height: $topbar-height * 5;
  }
}

.tabs-wrapper {
  align-items: center;
  display: flex;

  .link {
    padding: 0 10px;
  }
}

.example-page {
  background-color: $pure-white;
  flex-grow: 1;
  overflow-y: auto;
  padding: 2rem;
}

.markdown {
  overflow-y: scroll;
  padding: 2rem;
  width: 100%;
}

.markdown-example {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  min-width: 100%;
  padding: 20px;
  width: 100%;
}

.documentation-page {
  background-color: $pure-white;
  padding: 2rem;
}

.markdown {
  overflow-y: scroll;
}

// home page
.home-wrapper {
  height: 100%;
}

.dots {
  background-image: -webkit-repeating-radial-gradient(center center, $white-40, $white-40 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $white-40, $white-40 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $white-40, $white-40 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $white-40, $white-40 1px, transparent 1px, transparent 100%);
  -moz-background-size: 3px 3px;
  -webkit-background-size: 3px 3px;
  background-size: 15px 15px;
}

.home-top-section {
  // dots
  background-color: $black-40;
  // everything else
  min-height: 120px;
  justify-content: space-between;
  min-width: 700px;
  padding: 0 150px;
}

.home-bottom-section {
  background-color: $pure-white;
  height: 100%;
  min-height: min-content;
  min-width: 700px;
  padding: 75px 150px;
}

.page-title {
  color: $white;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1.33px;
  line-height: 45px;
}

.page-subtitle {
  color: $white;
  font-size: 14px;
  letter-spacing: .39px;
}

.bullet-points-wrapper {
  height: auto;
  min-width: 600px;
  width: 100%;
}

.bullet-point {
  height: 100%;
  margin: 20px 0;
  min-height: 250px;
  min-width: 100%;
  width: 100%;
}

.bullet-info {
  justify-content: center;
  max-width: 500px;

  &.bullet-info-reversed {
    align-items: flex-end;
    text-align: right;
  }
}

.bullet-point-title {
  color: $black-60;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .43px;
}

.bullet-point-title {
  color: $black-60;
  font-size: 14px;
  letter-spacing: .3px;
}

.bullet-example {
  // display: flex;
  min-width: 300px;
  width: 100%;
}

.preview-image {
  background: url("https://d1a3f4spazzrp4.cloudfront.net/geodude/frontpage-example.png") no-repeat center;
  background-size: contain;
  min-width: 300px;
  width: 70%;
}

.image-wrapper {
  justify-content: flex-end;
  padding: 20px 0;
  width: 100%;
}

.title-wrapper {
  justify-content: center;
  min-width: 300px;
}

#footer {
  align-items: center;
  background-color: $black-20;
  color: $white;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  min-height: 144px;
  padding: 0 72px;
  width: 100%;

  .icon-uber-logo {
    font-size: 24px;
  }

  h4 {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.example-charts {
  align-items: center;
  justify-content: space-around;
}
