.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'deckgl' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close::before {
  content: '\e900';
}

.icon-menu::before {
  content: '\e901';
}

.icon-arrow-right::before {
  content: '\e902';
}

.icon-gallery::before {
  content: '\e903';
}

.icon-github::before {
  content: '\e904';
  font-size: 20px;
}

.icon-uber-logo::before {
  content: '\e905';
}

.icon-info::before {
  content: '\e906';
}
