@font-face {
  font-family: 'deckgl';
  src:
    url('./deckgl.ttf?vord67') format('truetype'),
    url('./deckgl.woff?vord67') format('woff'),
    url('./deckgl.svg?vord67#deckgl') format('svg');
  font-weight: normal;
  font-style: normal;
}
